In [9]:
# load and summarize the housing dataset
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
import numpy as np


tweets = pd.read_csv(('..//movie_details_clean.csv'))
imdb = pd.read_csv('..//ratings_clean.csv')
tweets.head()

,user.id,create_at,text,Movie
0,1.210000e+18,12/5/2021,Great look at this up coming movie. Great inte...,Don’t Look Up (2021)
1,1.150000e+18,12/6/2021,"Idk why but ""Man in The Iron Mask"" is such a g...",Don’t Look Up (2021)
2,2.853195e+07,12/6/2021,Leonardo DiCaprio and Jennifer Lawrence just g...,Don’t Look Up (2021)
3,1.450000e+18,12/9/2021,'Winning Time: The Rise Of The Lakers Dynasty'...,Don’t Look Up (2021)
4,2.791928e+08,12/10/2021,@SheaSerrano This seems to be like if Adam McK...,Don’t Look Up (2021)

In [7]:
imdb.head()

,imDbId,title,fullTitle,type,year,imDb
0,tt1877830,The Batman,The Batman (2022),Movie,2022,8.2
1,tt9032400,Eternals,Eternals (2021),Movie,2021,6.4
2,tt10872600,Spider-Man: No Way Home,Spider-Man: No Way Home (2021),Movie,2021,8.4
3,tt11286314,Don't Look Up,Don't Look Up (2021),Movie,2021,7.2
4,tt11214590,House of Gucci,House of Gucci (2021),Movie,2021,6.6

In [25]:
sent = pd.read_csv('..//twitter_vader3.csv')
merged = sent.merge(imdb, left_on = 'Movie', right_on = 'fullTitle')
merged = merged.drop(['Unnamed: 0', 'type'], axis = 1)
merged

,user.id,create_at,text,Movie,sentiment_score,imDbId,title,fullTitle,year,imDb
0,3.158119e+09,10/22/19,@oglass21 @molly_knight We arent upset at the...,Glass (2019),-0.99,tt6823368,Glass,Glass (2019),2019,6.6
1,1.675880e+08,10/21/19,Trying to figure out when the FUCK I asked to ...,Glass (2019),-0.98,tt6823368,Glass,Glass (2019),2019,6.6
2,8.727823e+08,10/18/19,@LisaLimonTx @arelab13 @JustBeaTee @michaelgla...,Glass (2019),-0.97,tt6823368,Glass,Glass (2019),2019,6.6
3,2.376021e+09,10/18/19,@shulycawood Part of it is my own struggle: I ...,Glass (2019),-0.96,tt6823368,Glass,Glass (2019),2019,6.6
4,1.670851e+09,10/24/19,When i used to wear colored contacts I would s...,Glass (2019),-0.95,tt6823368,Glass,Glass (2019),2019,6.6
...,...,...,...,...,...,...,...,...,...,...
308345,9.490000e+17,2/25/22,"Nobody Like U (From ""Turning Red""/LyricVideo)\...",Turning Red (2022),0.36,tt8097030,Turning Red,Turning Red (2022),2022,7.0
308346,1.350000e+18,2/24/22,"@DiscussingFilm Pixar's Turning Red, Encanto, ...",Turning Red (2022),0.51,tt8097030,Turning Red,Turning Red (2022),2022,7.0
308347,1.090000e+18,2/23/22,LMFAO @Rizzo_TV Disneys new movie Turning Re...,Turning Red (2022),0.64,tt8097030,Turning Red,Turning Red (2022),2022,7.0
308348,2.806128e+09,2/25/22,I had a dream I was washing my hair and it tur...,Turning Red (2022),0.77,tt8097030,Turning Red,Turning Red (2022),2022,7.0
308349,1.729281e+07,2/27/22,Wanna go see turning red in kigu. That'd be fu...,Turning Red (2022),0.81,tt8097030,Turning Red,Turning Red (2022),2022,7.0

In [26]:
merged = merged.groupby(['imDbId']).mean()
merged

                 user.id  sentiment_score    year  imDb
imDbId
tt0451279   3.274548e+16         0.211026  2017.0   7.4
tt0870154   1.984619e+17         0.251744  2021.0   6.6
tt0974015   5.652446e+16         0.361829  2017.0   6.1
tt1070874   2.176429e+17         0.259643  2020.0   7.7
tt11196036  2.233797e+17         0.165570  2021.0   6.3
...                  ...              ...     ...   ...
tt8707922   1.861111e+17        -0.048889  2019.0   5.3
tt9032400   2.697605e+17         0.215934  2021.0   6.4
tt9252508   2.118359e+17         0.206328  2019.0   5.2
tt9357050   1.805636e+17         0.291513  2021.0   6.1
tt9686708   1.437636e+17         0.191551  2020.0   7.1

[75 rows x 4 columns]

In [28]:
from sklearn import datasets
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn import metrics

y = merged.imDb
X = merged.drop(columns = ['user.id', 'year', 'imDb'])
#print(X.head())
#
# Create training and test split
#
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#print(X_train)
# Create an instance of Lasso Regression implementation
#
lasso = Lasso(alpha=0.1)
#
# Fit the Lasso model
#
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)
#
# Create the model score
print(lasso.coef_)

[0.]

In [29]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
print(reg.coef_)
print(reg.intercept_)
y_pred = reg.predict(X_test)
print(metrics.mean_absolute_error(y_test, y_pred))
print(reg.score(X_train, y_train), reg.score(X_test, y_test))

[0.66776174]
6.819504350161495
0.6728166046157066
0.007860603790308618 0.06025303889468969